@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    line-height: 1.5;
    font-family: Verdana, sans-serif;
    margin: 0;
}
/* .mySlides {
    display: none;
} */
img {
    vertical-align: middle;
}

/* header */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
}
.nav-list {
    display: flex;
}
.nav-item {
    list-style: none;
    padding: 10px 25px;
    position: relative;
}
.nav-icon {
}
.nav-icon i {
    margin: 0px 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.nav-item a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    background: #fff;
}
.link::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    transition: 0.5s;
}
.nav-item:hover a::before {
    width: 100%;
}
ul.sub-menu {
    position: absolute;
    padding: 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 9%) 0px 10px 20px;
    top: 40px;
    left: -10px;
    width: 150px;
    text-align: left;
    padding-left: 20px;
    display: none;
    z-index: 1;
}
.sub-menu-item {
    list-style: none;
    padding: 15px 0px;
}
.has-child {
    position: relative;
}
.has-child::before {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: red;
}
.has-child :hover ~ .sub-menu,
.sub-menu:hover {
    display: block;
}
.container-cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.cart-box {
    width: 30%;
    height: 100%;
    background: #fff;
    float: right;
}
.header-cart-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-cart-box p {
    font-size: 30px;
    margin-left: 20px;
}
.header-cart-box i {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}
/* Search Input*/
.container-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.search {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    margin-top: 50px;
    flex: 1 1 auto;
}
.search form {
    width: 80%;
}
.search form > input {
    width: 90%;
    height: 60px;
    border: none;
}

.search form > button,
.search button {
    padding-right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.search form > button i,
.search button > i {
    font-size: 20px;
}
.search input:focus {
    outline: none;
}
.search button > i {
    border: none;
}

.block {
    display: block;
}
.close {
    display: none;
}
/* body */
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    height: 650px;
}
.mySlides img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    filter: brightness(80%);
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Title Slide */
.title {
    position: absolute;
    top: 35%;
    left: 40%;
    text-align: center;
    color: #fff;
    z-index: 1;
}
.title h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.sub-title {
    margin-top: 20px;
}
.link {
    width: 150px;
    height: 50px;
    background: #000;
    text-align: center;
    margin: 30px auto 20px;
}
.link a {
    width: inherit;
    height: inherit;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
/* 
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  } */

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */
@media only screen and (max-width: 600px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
    .slideshow-container {
        height: 300px;
    }
    .mySlides img {
        height: 300px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .slideshow-container {
        height: 500px;
    }
    .mySlides img {
        height: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 700px) {
    .card {
        width: calc(100%);
    }
}
/* Product Container */
.title-product {
    padding-top: 1em;
    text-align: center;
}
.product-container {
    text-align: center;
    display: flex;
    margin: 20px 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.detail {
    max-height: 650px;
    flex-basis: calc(25% - 20px);
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.card {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    max-height: 650px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px grey;
}
.card:hover {
    transform: translateY(-4px);
    transition: all 0.25s ease-in-out;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.name-product {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.price-product {
    margin-top: 1em;
    font-weight: bold;
    align-self: center;
}

.rate {
    margin: 10px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.star {
    color: #ddd;
    cursor: pointer;
    font-size: 20px;
    padding-right: 5px;
}

.selected {
    color: #ffcc00;
}

.hover {
    color: #f1c40f;
}

.e-voucher {
    width: 100%;
    margin-top: 100px;
}
.e-voucher img {
    width: 100%;
    height: 500px;
    object-fit: fill;
}
.filter {
    width: 80%;
    margin: 20px auto;
}
.filter select {
    width: 20%;
    height: 40px;
}

.hotspots {
    margin: 40px auto;
    width: 100%;
}
.hotspots-title {
    width: 80%;
    margin: 20px auto;
}
.hotspots-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
.hotspots-img {
    width: 50%;
}
.hotspots-img img {
    width: 100%;
}
.hotspots-content {
    width: 50%;
    padding: 30px 0px 30px 40px;
}
.hotspots-content h3 {
    margin: 10px 0px;
}
.hotspots-content a {
    padding: 10px 20px;
    text-decoration: none;
    background: #000;
    color: #fff;
}
.hotspots-content p {
    margin: 0 0 15px;
}
.hotspots-content p:nth-child(5) {
    margin-bottom: 30px;
}
/* Scroll To Top */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#scrollToTopBtn:hover {
    background-color: #555;
}
#scrollToTopBtn i {
    color: #000;
    height: 100%;
    width: 100%;
}
/* footer */

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2f466c;
    padding: 10px;
    margin-top: 1em;
}
.item {
    float: left;
}
.title-footer {
    font-size: 22px;
    font-weight: 1000;
    margin-left: 40px;
    color: #fffffe;
}
.item > ul > li {
    list-style: none;
    font-size: 16px;
    margin: 15px 0px;
    color: #d8dce3;
}
.dow-app {
    border: 2px solid #fffffe;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin-left: 40px;
    cursor: pointer;
}
.dow-app p {
    margin: 5px 0px 0px 30px;
    color: #fffffe;
}
.social-icon {
    width: 250px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}
.social-icon i {
    font-size: 30px;
    margin-right: 15px;
    color: #fffffe;
    cursor: pointer;
}

i.fa-bars {
    display: none;
}
.nav-icon {
    display: flex;
}
@media screen and (max-width: 640px) {
    .nav-list {
        flex-direction: column;
        width: 100%;
        text-align: left;
        padding-left: 0px;
        margin: 0px 0px;
    }
    .nav-item {
        border-bottom: 1px solid #565252;
    }
    .nav-item:last-child {
        border-bottom: none;
    }
    .navbar {
        position: relative;
        justify-content: space-between;
    }
    .menu-navbar {
        position: absolute;
        top: 70px;
        right: 0px;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        min-height: 250px;
        display: none;
    }
    i.fa-bars {
        display: block;
    }
    .nav-item:hover ::before {
        width: 0%;
    }
    ul.sub-menu {
        background: transparent;
        position: relative;
        top: 0px;
        box-shadow: none;
    }
    .sub-menu:hover {
        display: none;
    }
}
