@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    line-height: 1.5;
    font-family: Verdana, sans-serif;
    margin: 0;
}
img {
    vertical-align: middle;
}

/* header */
.navbar {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
}
#traffic {
    width: 1em;
    height: 1em;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.nav-list {
    display: flex;
}
.nav-item {
    list-style: none;

    position: relative;
}
.nav-icon {
}
.nav-icon i {
    margin: 0px 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.nav-item a {
    position: relative;
    padding: 10px 25px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    background: #fff;
}
.link::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
}
.nav-item:hover a::before {
    width: 65%;
    animation-name: fade;
    animation-duration: 2s;
}
ul.sub-menu {
    position: absolute;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 9%) 0px 10px 20px;
    top: 30px;
    left: -10px;
    width: 150px;
    text-align: left;
    padding-left: 10px;
    display: none;
    z-index: 3;
}
.sub-menu-item {
    list-style: none;
    padding: 10px 0px;
}

.has-child {
    position: relative;
}
.has-child::before {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: red;
}
.has-child :hover ~ .sub-menu,
.sub-menu:hover {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.container-cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
}
.cart-box {
    width: 30%;
    height: 100%;
    background: #fff;
    float: right;
}
.header-cart-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-cart-box p {
    font-size: 30px;
    margin-left: 20px;
}
.header-cart-box i {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}
/* Search Input*/
.container-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.search {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    margin-top: 50px;
    flex: 1 1 auto;
    animation: bounceInDown 1s ease-in-out;
}
.search form {
    width: 80%;
}
.search form > input {
    width: 90%;
    height: 60px;
    border: none;
}

.search form > button,
.search button {
    padding-right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.search form > button i,
.search button > i {
    font-size: 20px;
}
.search input:focus {
    outline: none;
}
.search button > i {
    border: none;
}

.block {
    display: block !important;
}
.close {
    display: none;
}
/* body */
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    height: 650px;
}
.mySlides img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    filter: brightness(80%);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Title Slide */
.title {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
}
.title h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.sub-title {
    margin-top: 20px;
}
.link {
    width: 150px;
    height: 50px;
    background: #504b4b;
    margin: 20px auto 0;
    border-radius: 10px;
}
.link a {
    width: inherit;
    height: inherit;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link:hover {
    transform: scale(1.1);
    transition: all 2s linear;
}

.e-voucher {
    width: 100%;
    margin-top: 100px;
}
.e-voucher img {
    width: 100%;
    height: 500px;
    object-fit: fill;
}

.hotspots {
    margin: 40px 20px;
}
.hotspots-title {
    margin: 20px auto;
}
.hotspots-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
.hotspots-img {
    width: 50%;
}
.hotspots-img img {
    width: 100%;
}
.hotspots-content {
    width: 50%;
    padding: 30px 0px 30px 40px;
}
.hotspots-content h3 {
    margin: 10px 0px;
}

.hotspots-content > .link {
    float: left;
}
.hotspots-content p {
    margin: 0 0 15px;
}
.hotspots-content p:nth-child(5) {
    margin-bottom: 30px;
}
/* Scroll To Top */
#scrollToTopBtn {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #504b4b;
    cursor: pointer;
    padding: 0.7em;
    border-radius: 10px;
}

#scrollToTopBtn:hover {
    background-color: #141414;
    animation: fade 3s infinite reverse;
}
#scrollToTopBtn i {
    color: #fff;
}
/* footer */

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2f466c;
    padding: 10px;
    margin-top: 1em;
}
.item {
    float: left;
}
.title-footer {
    font-size: 22px;
    font-weight: 1000;
    margin-left: 40px;
    color: #fffffe;
}
.item > ul > li {
    list-style: none;
    font-size: 16px;
    margin: 15px 0px;
    color: #d8dce3;
}
.item > ul > li a {
    text-decoration: none;
    color: #000;
}
.item > ul > li a:hover {
    text-decoration: underline;
}
.dow-app {
    border: 2px solid #fffffe;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
}
.dow-app p {
    margin: 0px auto;
    color: #fffffe;
    text-align: center;
}
.social-icon {
    width: 250px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}
.social-icon i {
    font-size: 30px;
    margin-right: 15px;
    color: #fffffe;
    cursor: pointer;
}

i.fa-bars {
    display: none;
}
.nav-icon {
    display: flex;
}
/* Footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #2f466c;
    padding: 10px;
}
.title-footer {
    font-size: 22px;
    font-weight: 1000;
    color: #fffffe;
    margin-left: 0px;
}
.item {
    width: 33.333%;
}
.item > ul > li {
    list-style: none;
    font-size: 16px;
    margin: 15px 0px;
    color: #d8dce3;
}
.item ul {
    padding-left: 0px;
}

.social-icon {
    margin-left: 0px;
}
.social-icon i {
    font-size: 30px;
    margin-right: 15px;
    color: #fffffe;
    cursor: pointer;
}
.item iframe {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 640px) {
    .footer {
        flex-direction: column;
    }
    .item {
        width: 100%;
        text-align: center;
    }
    .dow-app,
    .social-icon {
        margin: 10px auto;
    }
    .item iframe {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 980px) {
    #traffic {
        display: none;
    }
    .nav-list {
        flex-direction: column;
        width: 100%;
        text-align: left;
        padding-left: 0px;
        margin: 0px 0px;
        position: relative;
        z-index: 9;
        background: #fff;
    }
    .nav-item {
        border-bottom: 1px solid #565252;
        padding: 15px 0px;
    }
    .nav-item:last-child {
    }
    .has-child :hover ~ .sub-menu,
    .sub-menu:hover {
        display: none;
    }
    .navbar {
        position: relative;
        justify-content: space-between;
    }
    .menu-navbar {
        position: absolute;
        top: 80px;
        right: 0px;
        background: #fff;
        width: 100%;
        min-height: 250px;
        display: none;
    }
    i.fa-bars {
        display: block;
    }
    .nav-item:hover ::before {
        width: 0%;
    }
    ul.sub-menu {
        background: transparent;
        position: relative;
        top: 0px;
        box-shadow: none;
    }
    .sub-menu:hover {
        display: none;
    }
    .hotspots-content {
        width: 100%;
    }
}
@media only screen and (max-width: 660px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
    .slideshow-container {
        height: 300px;
    }
    .mySlides img {
        height: 300px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .slideshow-container {
        height: 500px;
    }
    .mySlides img {
        height: 500px;
    }
    .hotspots-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hotspots-img {
        width: 100%;
    }
}
/* animation  */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
