.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 40px 0px;
}
.img-display {
    overflow: hidden;
    width: 500px;
    height: 500px;
}
.img-display > .img-showcase img {
    object-fit: cover;
    min-width: 500px;
    height: 500px;
}
.img-showcase {
    display: flex;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
}
.img-select {
    display: flex;
    width: 500px;
    overflow-x: scroll;
}
.img-select::-webkit-scrollbar {
    display: none;
}
.img-item {
    margin: 10px 10px 10px 0px;
    width: 100px;
    height: 100px;
}
.img-item a > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.img-item:hover {
    opacity: 0.8;
}
.product-content {
    padding: 20px 10px 20px 40px;
}
.product-rating {
    color: #ccc;
    position: relative;
}

.product-title {
    font-size: 1.75rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 20px 0px;
}
.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-price {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
}
.product-price span {
    font-weight: 400;
}
.last-price span {
    color: #f64749;
    text-decoration: line-through;
}
.new-price span {
    color: #256eff;
}
.product-desc h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 10px;
}
.product-desc p {
    font-size: 15px;
    padding: 10px 10px 10px 0px;
    opacity: 0.8;
}
.purchase-info {
    margin: 15px 0;
}
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 20px 20px;
    outline: 0;
}
.purchase-info .btn {
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type {
    background: #256eff;
}
.purchase-info .btn:last-of-type {
    background: #f64749;
}
.purchase-info .btn:hover {
    opacity: 0.9;
}
.social-links {
    display: flex;
    align-items: center;
}
.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.5s ease;
}
.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}
.container-rating {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
}
.box-rating {
    width: 400px;
    height: 630px;
    margin: 100px auto 0;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
}
.header-rating p {
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}
.body-rating {
    margin: 20px 20px 0;
}
.email-userRating,
.star-userRating {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.email-userRating input {
    flex: 1;
    margin-left: 20px;
}
.star-userRating .rate {
    margin: 0;
    margin-left: 70px;
}
.comment-userRating p {
    margin: 15px 0;
}
.comment-userRating textarea {
    width: 100%;
}
.btn-userRating {
    padding: 5px 20px;
    margin: 15px 0 15px 280px;
    background: #0fb4cec5;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .card-wrapper {
        flex-direction: column;
    }
    .product-imgs {
        margin: 10px auto;
    }
}
