/* Filter */
.container-filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
}
.show-boxFilter {
    margin-left: 20px;
    border: 1px solid #00000093;
    width: 30px;
    text-align: center;
    color: #17a3b88a;
    border-radius: 5px;
    cursor: pointer;
    
}
.header-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.closeFilter {
    padding-right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.header-filter i {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}
.box-filter {
    width: 300px;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    animation: fadeInLeft 0.5s ease-in-out;
}
.filter-reset {
    margin-top: 10px;
    margin-left: 155px !important;
}
.box-filter button {
    padding: 0.4em 2.2em;
    margin-left: 120px;
    margin-bottom: 10px;
    background-color: #17a3b8c5;
    color: aliceblue;
    font-size: 1.1em;
    border: #999 solid 1px;
    border-radius: 10px;
    cursor: pointer;
}
.box-filter p {
    font-size: 30px;
    padding: 10px 20px;
}

.filter {
    border-top: 1px solid #000;
}
.filter p {
    font-size: 20px;
}
.select-filter {
    padding: 0px 20px;
}
.option label {
    margin-left: 10px;
}
/* Price Filter */

.wrapper {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
.price-input {
    width: 100%;
    display: flex;
}
.price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}
.field input {
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider {
    height: 5px;
    position: relative;
    border-radius: 5px;
    background: #999999a1;
}
.slider .progress {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
}
.range-input {
    position: relative;
    margin-bottom: 20px;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -3px;
    background: none;
    pointer-events: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.1em;
    width: 1em;
    margin-top: -5px;
    cursor: pointer;
    background-color: #17a2b8;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(23, 162, 184, 0.3);
}
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    height: 1.1em;
    width: 1em;
    padding: 1.5em;
    margin-top: -5px;
    cursor: pointer;
    background-color: #17a2b8;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(23, 162, 184, 0.3);
}
/* Animation */


@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-300px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }